.bl-background {
    
    display: flex;
}

.bl-list {
   
}
.white-container
{
    background: white;
    margin: 10pt;
    border-radius: 3pt;
    box-shadow: 0 0 5pt rgb(83, 83, 83);
}

/*Кнопки*/


.container
{
    margin: auto;
    display: inline-flex;
    margin-top: 70pt;
}

body
{
    font-family: Helvetica, sans-serif;   
    background: #DADADA;
    margin: 0;
}
.form-block
{
    margin: 7pt;
    height:20pt;
    display: flex;
}

.good-input
{
    border-radius: 3pt 0 0 3pt;
    width: 300pt;
    font-weight: normal;
    border: 1px solid lightgray;
    padding: 0;
    margin: 0;
    height: 20pt;
    vertical-align: middle;
    flex-direction: right;
}

.commit-button
{
    margin-left: 0;
    border-radius: 0 3pt 3pt 0;
    border: 0;
    background-color: #2185D0;
    height: 22pt;
    width: 60pt;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: white;
    
}
button
{
    border-radius: 3pt;
    background-color: #E8E8E8;
    box-shadow: 0 -3pt 0 0 rgba(37, 39, 41, 0.15) inset;
}
::selection {
    background-color: #CCE2FF;
}

.bl-plus
{
    border-radius: 10pt;
    color: #FFF;
    background: #21BA45;
    width: 20pt;
    height: 20pt;
    border: 0;
    text-align: center;
    position: relative;
}


.bl-minus
{
    border-radius: 10pt;
    color: #FFF;
    background-color: #DB2828;
    width: 20pt;
    height: 20pt;
    border: 0;
    text-align: center;
}

.bl-label
{
    padding: 3pt;
    padding-left: 6pt;
    padding-right: 6pt;
    background: #cdcbcb;
    border-radius: 5pt;
}

.bl-row
{
    display: flex;
    margin: 10pt;
}

.bl-product
{
    text-align: left;
    margin: auto;
    margin-left: 3pt;
    margin-right: 0;
    width: 50pt;
    
}

.bl-bought
{
    width: 130pt;

}

.bl-count
{
    margin:auto;
}
.close-button
{
    background-color: red;
    width: 20pt;
    height: 20pt;
    text-align: center;
    color: white;
    margin-left: 5pt;
    border-color: lightgray;
    border: 0;
}

.bought-button
{
    border-color: lightgray;
    border-width: 1px;
}

.good
{
    height: 20pt;
    margin-bottom: 10pt;
    border-color: gray;
    border-width: 10px;

}
.bl-title
{
    
    margin-bottom: 10pt;
    margin-top: 10pt;
    margin: auto;
    text-align: center;

}
.elements
{
    height: 40pt;
    margin:10pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.element
{
    display: inline-flex;
    font-size: 10pt;
    background-color: #E8E8E8;
    padding:3pt;
    border-radius: 3pt;
    margin:1pt;
    height: 10pt;
}

.bought
{
    text-decoration: line-through;
}

.amount
{
    margin:auto;
    margin-left: 1pt;
    padding-left:3pt;
    padding-right: 3pt;
    border-radius: 10pt;
    background-color: #F2711C;
    color:white;

}

.bought-elements
{
    display: flex;
    
}

.buy-list-text
{
    margin-top: 10pt;
    text-align: left;
    padding-left: 14pt;
}
.created-by
{
    margin-top: 15pt;
    font-size: 8pt;
    text-align: left;
    padding-left: 14pt;
}

.buy-list
{
    position: fixed; 
    bottom: 0px;
    color:white;
    background-color: darkviolet;
    border:0;
    border-radius:  10pt 10pt 0 0;
    height: 40pt;
    font-size: 15pt;
    margin-left: 30pt;
    width: 85pt;
    transition: 1s;
}

.buy-list:hover
{   
    background-color: blue;
    height: 70pt;

    transition: 1s linear;
}
.author
{
    font-size: 11pt;
    text-align: left;
    padding-left: 14pt;
}


@media (max-width: 500px) {
    .container
    {
        display:inline-grid;
    }
    .bl-bought
    {
        width: auto;
    }
    .bl-list
    {
        width: 300pt;
    }
 }
 @media print
{
    .buy-list:before {
        font-size: 12pt;
        padding-left: 5pt;
        content: "Created by Husar Kyrylo";
      }
    .buy-list
    {
        border: 1px solid #909;
        background-color: white;
        color: black;
        
    }
    .buy-list #visible {
        visibility: hidden;
        position: relative;
    }
       .buy-list #visible:after{
        background-color: white!Important;
        color: black!Important;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

    .buy-list-text
    {
        visibility: hidden;
        color:black;
    }
}

[data-tooltip] 
{
    position: relative;
}
[data-tooltip]::after 
{
    content: attr(data-tooltip);
    position: absolute;
    width: 0pt;
    bottom:0;
    background: darkviolet; 
    border-radius: 10pt;
    color: white;
    padding: 0.5em;
    transition: 1s;
    opacity: 0;
    z-index: 2;
} 
[data-tooltip]:hover::after 
{
    bottom: 2em; 
    width: 70pt;
    opacity: 1;
    z-index: 1;
}
