<div id = "bottom-text" class = "col-lg-9 col-md-8 col-sm-7 col-xs-6">
</div>

<div id = "discount">
    <img src = "assets/images/discount.svg">
    <div class = "container">
        <div style = "border-bottom: 2px dotted #d16200;">Цього тижння на все</div>
        <div>-20%</div>
    </div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaLxb_saNA9nNWbOaHddCMpaeWxlxhDs4&libraries=&v=weekly"
></script>

<script src="//static.liqpay.ua/libjs/checkout.js">
</script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>